In [1]:
import mysql.connector as db
import pandas as pd

In [2]:
Cus = pd.read_csv(r"F:\GUVI\Project\Data Spark\Codes\Cleaned DATA\Cleaned_Customers_data.csv", index_col=0)
E_R = pd.read_csv(r"F:\GUVI\Project\Data Spark\Codes\Cleaned DATA\Cleaned_Exchange_Rates_data.csv", index_col=0)
Prod = pd.read_csv(r"F:\GUVI\Project\Data Spark\Codes\Cleaned DATA\Cleaned_Products_data.csv", index_col=0)
Sales = pd.read_csv(r"F:\GUVI\Project\Data Spark\Codes\Cleaned DATA\Cleaned_Sales_data.csv", index_col=0)
Stores = pd.read_csv(r"F:\GUVI\Project\Data Spark\Codes\Cleaned DATA\Cleaned_stores_data.csv", index_col=0)

In [ ]:
# merging the customer data and Sales data by CustomerKey

Cus_Sales = pd.merge(Cus, Sales, on="CustomerKey", how='inner')

# merging the customer data & Sales data & product data by ProductKey

cus_sal_prod = pd.merge(Cus_Sales, Prod, on='ProductKey', how='inner')

In [ ]:
# merging the product data and Sales data by ProductKey

prod_sales = pd.merge(Prod, Sales, on='ProductKey', how='inner')

In [ ]:
# merging the Sales data and Store Data by StoreKey

sales_stores = pd.merge(Sales, Stores, on='StoreKey', how='inner')

In [6]:
db_connection = db.connect(
    host = "localhost",
    user = "NewUser",
    password = "root",
    database = "dataspark"
)

curr = db_connection.cursor()

In [8]:
# Customer data

create_cus_table = """
CREATE TABLE dataspark.Customers(
            CustomerKey INT,
            Gender varchar(50),
            Name varchar(50),
            City varchar(50),
            State_Code varchar(50),
            State varchar(50),
            Zip_Code varchar(50),
            Country varchar(50),
            Continent varchar(50),
            Birthday date,
            Age int
            );
"""
curr.execute(create_cus_table)


Insert_query = """
INSERT INTO dataspark.customers(CustomerKey,Gender,Name,City,State_Code,State,Zip_Code,Country,Continent,Birthday,Age)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

for _, row in Cus.iterrows():
    curr.execute(Insert_query, tuple(row))

db_connection.commit()

In [15]:
# Exchange rate data

create_E_R_table = """
CREATE TABLE dataspark.exchange_rate(
            Date date,
            Currency varchar(50),
            Exchange float
            );
"""
curr.execute(create_E_R_table)


Insert_E_R_query = """
INSERT INTO dataspark.exchange_rate(Date,Currency,Exchange)
VALUES(%s,%s,%s)
"""

for _, row in E_R.iterrows():
    curr.execute(Insert_E_R_query, tuple(row))

db_connection.commit()

In [30]:
# Products data

create_Prod_table = """
CREATE TABLE dataspark.products(
            ProductKey INT,
            Product_Name varchar(100),
            Brand varchar(100),
            Color varchar(100),
            Unit_Cost_USD float,
            Unit_Price_USD float,
            SubcategoryKey INT,
            Subcategory varchar(100),
            CategoryKey INT,
            Category varchar(100)
            );
"""
curr.execute(create_Prod_table)


Insert_Prod_query = """
INSERT INTO dataspark.products(ProductKey,Product_Name,Brand,Color,Unit_Cost_USD,Unit_Price_USD,SubcategoryKey,Subcategory,CategoryKey,Category)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

for _, row in Prod.iterrows():
    curr.execute(Insert_Prod_query, tuple(row))

db_connection.commit()

In [33]:
Sales.shape

(62884, 9)

In [32]:
# Sales data

create_Sales_table = """
CREATE TABLE dataspark.Sales(
            Order_Number INT,
            Line_Item INT,
            Order_Date date,
            Delivery_Date date,
            CustomerKey INT,
            StoreKey INT,
            ProductKey INT,
            Quantity INT,
            Currency_Code varchar(50)
            );
"""
curr.execute(create_Sales_table)


Insert_Sales_query = """
INSERT INTO dataspark.Sales(Order_Number,Line_Item,Order_Date,Delivery_Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency_Code)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

for _, row in Sales.iterrows():
    curr.execute(Insert_Sales_query, tuple(row))

db_connection.commit()

In [36]:
Stores.shape

(67, 5)

In [35]:
# Stores data

create_Stores_table = """
CREATE TABLE dataspark.Stores(
            StoreKey INT,
            Country varchar(100),
            State varchar(100),
            Square_Meters float,
            Open_Date date
            );
"""
curr.execute(create_Stores_table)


Insert_Stores_query = """
INSERT INTO dataspark.Stores(StoreKey,Country,State,Square_Meters,Open_Date)
VALUES(%s,%s,%s,%s,%s)
"""

for _, row in Stores.iterrows():
    curr.execute(Insert_Stores_query, tuple(row))

db_connection.commit()